html,
body {
  margin: 0;
  padding: 0;
  background-color: #aa1e1b;
}
.navbar-dark {
  background-color: #bb8348;
}

body {
  background-image: url("");
  background-attachment: fixed;
  background-size: cover;
}
header img {
  height: 45px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

header a:hover {
  background-color: rgb(42, 85, 14);
  color: black;
}

header a.active {
  background-color: #e6a25a;
  color: rgb(230, 135, 59);
}
/* Footer */
.footer {
  position: fixed;
  width: 100%;
  background-color: #bb8348;
  color: #572929;
  text-align: center;
  margin-top: 45em;
  padding: 0em;
}
/* Schritte erklärt */
.col-lg-4 {
  display: inline-block;
}
.row > div {
  margin-bottom: 30px;
}
.image > p {
  position: absolute;
  top: 0;
  width: 100%;
  color: #ffffff;
  font-size: 1.2;
  text-align: justify;
  background: #7a595999;
  padding: 5px;
}
.image {
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: #008b3a 0 0 15px 0px;
}

.image:hover {
  font-size: 1.3em;
  border-radius: 20px;
}

.image > img {
  padding: 0;
  width: 100%;
  transition: 0.5s;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
section {
  width: 80%;
  margin: 100px auto;
  transition: 0.5s;
}
