html,
body {
  margin: 0;
  padding: 0;
  background-color: #aa1e1b;
}
.navbar-dark {
  background-color: #bb8348;
}

body {
  background-image: url("");
  background-attachment: fixed;
  background-size: cover;
}
header img {
  height: 45px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

header a:hover {
  background-color: rgb(42, 85, 14);
  color: black;
}

header a.active {
  background-color: #e6a25a;
  color: rgb(230, 135, 59);
}
/* Footer */
.footer {
  position: fixed;
  width: 100%;
  background-color: #bb8348;
  color: #572929;
  text-align: center;
  margin-top: 45em;
  padding: 0em;
}
