body {
  margin: 0;
  padding: 0;
  background-color: #aa1e1b;
}
.navbar-dark {
  background-color: #bb8348;
  opacity: 0.9;
}

header img {
  height: 45px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

header a:hover {
  background-color: rgb(42, 85, 14);
  color: black;
}

header a.active {
  background-color: #e6a25a;
  color: rgb(230, 135, 59);
}
.cookie {
    color: #000000;
    margin-left: 38%;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}
/* Footer */

.footer2 {
  color: #000000;
  text-align: center;
  background-color: #c58036;
  height: 35px;
  margin-bottom: 0em;
  position: sticky;
  opacity: 0.7;
}


/* Schritte erklärt */
.col-lg-4 {
  display: inline-block;
}
.row > div {
  margin-bottom: 30px;
}
.text > p {
  color: #000000;
}
hr {
    background-color: rgba(96, 216, 116, 0.774);
}
.image {
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: #008b3a 0 0 15px 0px;
}

.image:hover {
  font-size: 1.3em;
  border-radius: 20px;
}

.image > img {
  padding: 0;
  width: 100%;
  transition: 0.5s;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
section {
  width: 80%;
  margin: 100px auto;
  transition: 0.5s;
}
.text {
    color: #ffffff;
}
@media only screen and (min-width:1200px) {
.col-lg-1 {
width: 10%;
}
.col-lg-2 {
width: 20%;
}
.col-lg-3 {
width: 30%;
}
.col-lg-5 {
width: 40%;
}
.col-lg-6 {
width: 50%;
}
.col-lg-7 {
width: 60%;
}
.col-lg-9 {
width: 70%;
}
.col-lg-10 {
width: 80%;
}
.col-lg-11 {
width: 90%;
}
.col-lg-12 {
width: 100%;
}
}
@media (min-width:990px) and (max-width:1199px){
  
.col-md-1 {
width: 10%;
}
.col-md-2 {
width: 20%;
}
.col-md-3 {
width: 30%;
}
.col-md-5 {
width: 40%;
}
.col-md-6 {
width: 50%;
}
.col-md-7 {
width: 60%;
}
.col-md-9 {
width: 70%;
}
.col-md-10 {
width: 80%;
}
.col-md-11 {
width: 90%;
}
.col-md-12 {
width: 100%;
}

/* Dark Mode */
label {
  position: absolute;
  width: 45px;
  height: 22px;
  right: 140px;
  top: 20px;
  border: 2px solid;
  border-radius: 20px;
}
label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  cursor: pointer;
  background: rgb(0, 0, 0);
  transition: 0.4s;
}
label.active::before {
  left: 24px;
  background: #ffffff;
}
body.night {
  background: #000000;
  color: #ffffff;
}


